:root {
  font-family: "Fira Code", monospace;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a253d;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.main_page{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  min-height: 100dvh;
  max-width: 1100px;
  margin: auto;
}

.main_content{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10rem;
}

.footer{
  left: 0;
  bottom: 0;
  width: 100%;
}

html {
  scroll-padding-top: 70px; 
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0px);
  }
}

.item {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/* h1 {
  text-align: left;
  padding-left: 40px;
}

h1::after {
  content: "";
  height: 1px;
  background-color: #475569;
  display: block;
  margin-top: 10px;
  margin-right: 40px;
} */