.card{
    border-radius: 5%;
    /* background-color: aqua; */
    cursor: pointer;
    border: solid;
    border-color: aliceblue;
    /* max-width: 1200px; */
    /* display: flex; */
    margin: 1rem auto;
    color:  rgba(255, 255, 255, 0.87);
    transition-duration: 1s; 
    min-height: 200px;
    min-width: 200px;
}

.card:hover{
    /* filter: drop-shadow(0 0 5em #646cffaa); */
    background-color: rgb(14, 42, 85);
}

.cards-container{
    display:flex;
    justify-content: center;
    /* margin: 10px; */
     gap: 2rem;
}