.navbar{
    position: sticky;
    top: 0;
    padding: 5px;
    width: 100%;
    background-color: #1a253d;
}

ul{
    list-style-type: none;

}

li {
    display: inline;
    padding: 12px;
    color: rgba(255, 255, 255, 0.87);
}

li :hover{
    filter: drop-shadow(0 0 5em #646cffaa);
    background-color: rgb(14, 42, 85);
}

.navbar_links li a{
    color: white;
}