.navbar{
    position: sticky;
    top: 0;
    padding: 5px;
    width: 100%;
    background-color: #1a253d;
}

ul{
    list-style-type: none;

}

.navbar_links li {
    display: inline;
    padding: 12px;
    color: rgba(255, 255, 255, 0.87);
    transition-duration: 0.5s;
}

.navbar_links li :hover{
    filter: drop-shadow(0 0 5em #646cffaa);
    color: #535bf2;
    transition-duration: 0.5s;
}

.navbar_links li a{
    color: white;
    transition-duration: 0.5s;
}